<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animasi SIBI</title>
    <style>[x-cloak]{display:none}</style>
    <!-- Include the Alpine library on your page -->
    <script src="https://unpkg.com/alpinejs" defer></script>
    <!-- Include the TailwindCSS library on your page -->
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="flex items-center justify-center w-full max-w-full">
        <!-- Element Here -->
        <!-- An index page that's only consists of 2 large and clear CTA: "Buat Subtitle" dan "Lihat Hasil Unggahan"-->
        <div class="w-full max-w-lg p-4 bg-white rounded-lg shadow-lg">
            <div class="py-4 pb-8">
                <h1 class="text-2xl font-bold text-center">SIBI Gesture Generator</h1>
                <p class="text-center">Buat subtitle atau lihat hasil unggahan video</p>
            </div>
            <div class="flex justify-center space-x-4">
                <a href="{{addUrl}}" class="w-1/2 p-8 bg-blue-800 text-white rounded-lg text-center flex items-center space-x-4">
                    <img src="https://img.icons8.com/ios/50/FFFFFF/upload-to-cloud.png" alt="Upload Icon" class="mr-2">
                    Buat Subtitle
                </a>
                <a href="{{manageUrl}}" class="w-1/2 p-8 bg-blue-800 text-white rounded-lg text-center flex items-center space-x-4">
                    <img src="https://img.icons8.com/ios/50/FFFFFF/file.png" alt="Manage Icon" class="mr-2">
                    Lihat Hasil Unggahan
                </a>
            </div>