<script src="https://cdn.tailwindcss.com"></script>
<div style="margin-bottom: 2em;">
    <h1 class="text-4xl font-black pb-4">SIBI Gesture Generator</h1>
    <div class="py-2 flex space-x-4">
        <button type="button" class="flex align-items-center gap-2 bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-blue-500 py-2 px-4 border border-blue-500 hover:border-transparent rounded" value="Upload Video" onclick="location.href='{{editurl}}'" id="upload-video-button">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4">
                <path d="M7.25 10.25a.75.75 0 0 0 1.5 0V4.56l2.22 2.22a.75.75 0 1 0 1.06-1.06l-3.5-3.5a.75.75 0 0 0-1.06 0l-3.5 3.5a.75.75 0 0 0 1.06 1.06l2.22-2.22v5.69Z" />
                <path d="M3.5 9.75a.75.75 0 0 0-1.5 0v1.5A2.75 2.75 0 0 0 4.75 14h6.5A2.75 2.75 0 0 0 14 11.25v-1.5a.75.75 0 0 0-1.5 0v1.5c0 .69-.56 1.25-1.25 1.25h-6.5c-.69 0-1.25-.56-1.25-1.25v-1.5Z" />
                </svg>
            Upload Video
            </button>
        <button type="button" class="flex align-items-center gap-2 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" value="Request Gesture" onclick="location.href='{{editurl}}'" id="sibi-button">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4">
            <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14Zm.75-10.25v2.5h2.5a.75.75 0 0 1 0 1.5h-2.5v2.5a.75.75 0 0 1-1.5 0v-2.5h-2.5a.75.75 0 0 1 0-1.5h2.5v-2.5a.75.75 0 0 1 1.5 0Z" clip-rule="evenodd" />
            </svg>
            Request Gesture
            </button>
    </div>
    <br />
    <h2 class="text-2xl font-bold p2-4"> Subtitles </h2>
</div>

<div>
    <h3 class="text-xl font-bold p2-4">🚩 Subtitle Requests</h3>
    {{#subtitlelist}}
    <div style="border: 2px solid grey; border-radius: 8px; padding: 5px; margin-bottom: 1em;">
        <h5>{{filename}}</h5>
        <p>Duration: {{duration}}</p>
        <p>ASR: {{asrtype}}</p>
        <p>{{Subtitle}} </p>
    </div>
    {{/subtitlelist}}
</div>

<div style="margin-bottom: 2em;">
    <br />
    <h2 class="text-2xl font-bold pb-4"> Gestures </h2>
</div>

<div>
    
    <h3 class="text-xl font-bold pb-2" style="border-bottom: 2px solid grey; padding: 5px; margin-bottom: 1em;">🚩 Running Gestures</h3>
    {{#running}}
    <div style="border: 2px solid grey; border-radius: 8px; padding: 5px; margin-bottom: 1em;">
        <h5>{{filename}}</h5>
        <p>Source: <a href="{{url}}" target="_blank">{{url}}</a></p>
    </div>
    {{/running}}
</div>

<div>
    <h3 class="text-xl font-bold pb-2" style="border-bottom: 2px solid grey; padding: 5px; margin-bottom: 1em;">⏰ Queued Gestures</h3>
    {{#queued}}
    <div style="border: 2px solid grey; border-radius: 8px; padding: 5px; margin-bottom: 1em;">
        <h5>{{filename}}</h5>
        <p>Source: <a href="{{url}}" target="_blank">{{url}}</a></p>
    </div>
    {{/queued}}
</div>

<div>
    <h3 class="text-xl font-bold pb-2" style="border-bottom: 2px solid grey; padding: 5px; margin-bottom: 1em;">✔️ Successful Gestures</h3>
    {{#success}}
    <div style="border: 2px solid grey; border-radius: 8px; padding: 5px; margin-bottom: 1em;">
        <h5><a href="{{final_url}}" target="_blank">{{filename}}</a></h5>
        <p style="margin-bottom: 0em;">Source: <a href="{{url}}" target="_blank">{{url}}</a></p>
        <p style="margin-bottom: 0em;">Time taken: {{duration}}</p>
        <p style="margin-bottom: 0em;">Words: {{words}}</p>
        <p style="margin-bottom: 0em;">Words not found: {{words_not_found}}</p>
        <p style="margin-bottom: 0em;">Characters not found: {{characters_not_found}}</p>
    </div>
    {{/success}}
</div>

<div>
    <h3 class="text-xl font-bold pb-2" style="border-bottom: 2px solid grey; padding: 5px; margin-bottom: 1em;">❌ Failure Gestures</h3>
    {{#failure}}
    <div style="border: 2px solid grey; border-radius: 8px; padding: 5px; margin-bottom: 1em;">
        <h5>{{filename}}</h5>
        <p>Source: <a href="{{url}}" target="_blank">{{url}}</a></p>
        <p>Error: {{error}}</p>
    </div>
    {{/failure}}
</div>

<style>

